.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;

}

.Header img {
    width: 40px;
}

.nav_items img {
    margin: 0 0.4em;
}